body{
	font-family: helvetica;
	margin:0px;
	font-family:'Roboto', sans-serif,helvertica;

}

#header{
	width:100%;
	height:90%;
	background-color: black;
	background-image:url('img/cover.jpg');
	background-repeat:no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
	position: relative;
	color:white;
	text-align: center;
	font-size:80px;
	margin:0px;
	top:35%;
}

#content{
	height:1000px;
}

#button{
	width:100%;
}

text{	
	display:table;
	padding:10px 20px;
	font-size:15px;
	text-align: center;
	border:2px solid #383838;
	border-radius:20px;
	margin:0px auto;
	white-space: nowrap;
	font-weight:bold;
	letter-spacing:2px;
	cursor:pointer;
}

.buttonDefault{
	color:#383838;
}

.buttonHover{
	background-color:#383838;
	color:white;
}

#menu{
	position:fixed;
	width:100%;
	height:70px;
	z-index:3;
}

#menu2{
	display:none;
	position:fixed;
	width:100%;
	height:70px;
	z-index:2;
	background-color:white;
	border-bottom : 1px solid #DEDADA ;
}

img.logo{
	height:auto;
	padding:10px 50px;
}

#menu_tabs{
	position:absolute;
	top:0px;
	right:0px;
	padding:22px 20px;
}

p.menu{
	display:inline;
	font-size:13px;
	color:white;	
	padding:0px 25px;
	font-weight:bold;
	letter-spacing:1px;
	cursor: pointer;
}

p.menu:hover{
	color:#769CFB;
}

#about_home{ 
    background-color:white;
    width:100%;
	padding:100px 0px;
	border-bottom:1px solid #e0e0e0;
}

h1.header1{
	color:#625e5e;
	font-size:40px;
}

p.paragraph{
	font-size:20px;
	float:none;
	text-align:center;
	color:#757171;
	padding:30px 20%;	
	line-height:40px;
}

#advocates{
	width:100%;
	padding:100px 0px;
	border-bottom:1px solid #e0e0e0;
}

#advocate_image_holder{

}

img.adv{
	padding:100px 0px;
	display:block;
	border-radius: 200px;
	margin: 0px auto;
}